

body {
    /* text-align:center; */ 
    background-color: #0a0a0a;
    /* #0a0a0a; */
    max-width: fit-content(20em);
    margin: auto;
   }

#userSelects {

    padding-top: 30px;
}  
h1 {
    color:red;
    font-size: 40px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
}

#banner-pics {
    padding-top: 10px; 
    padding-bottom: 20px;
    
}
#gameresults #results p {
   
   /* color:rgb(33, 18, 146);*/
    text-align: center;
    position: absolute;
    font-family: 'Ink Free';
    
    font-size: 50px;
    padding-bottom: 20px;
}
#gameresults #winner p {
     /* position: absolute; */ 
    color: rgb(18, 199, 175);
    font-size: 50px;
}
#choice {
    
    font-size: 30px;
    color: rgb(13, 14, 13);
    
    text-align: center;
    box-sizing: border-box;
    border-radius: 35px;
    border-color: crimson;
    border-width: 5px;   
    padding-top: 5px;
    padding-bottom: 5px;  
    padding-left: 10px;
    padding-right: 10px;   
}

#gameImages {

        padding-top: 25px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%
    
   
}

html p {
    text-align: center;
}

#banner1{
    text-align: center;
}

     



